/* header {
  background: pink;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 360px;
}
*/

body {
  font-family: sans-serif;
}

section {
  background: green;
  margin-bottom: 20px;
  margin-top: 0px;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
}

.column {
  background: pink;
  width: 30%;
  height: 600px;
  margin-right: 20px;
}

nav {
  display: flex;
  flex-direction: column;
}

.nav-item {
  background: orange;
  height: 80px;
  margin-bottom: 10px;
  width: 100%;
}

.nav-item a {
  font-weight: bold;
  font-size: 70px;
  color: black;
  text-decoration: none;
}

/*
.third {
  background: lightgreen;
  height: 250px;
  width: 30%;
}
*/

footer {
  background: orange;
  height: 70px;
}
